$color-nude_normal: #F1CDB3;
$color-nude_hover: #FDDCC4;

$color-dark-s: #CDCDCD;
$color-dark-l: #545454;
$color-dark-m: #B2B2B2;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFF;
