:root{
    --black: #010201;
    --light-green: #EDF2EC;
    --green: #499A18;
    --orange: #E06733;
    --light-grey: #717171;
    --grey: #636060;
    }

html{
    box-sizing: border-box;
    font-family: 'Inika', serif, 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--grey);
    scroll-behavior: smooth;
}

body{
    width: 100%;
    max-width: 100%;
    overflow-x:hidden;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
}

h2, h3, h4, h5, h6{
font-family: 'Inika', serif;
font-weight: 400;
}

body.lock{
    overflow: hidden;
}

.menu__icon{
    display: none;
}


.header{
    background-color: var(--light-green);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
}

.header__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}

.header__nav{
  
    padding-top: 3px;
}

.header__list{
    display: flex;
}

li{
    list-style-type: none;
}

p{
line-height: 30px;
font-family: 'Inter', sans-serif;
}

a{
text-decoration: none;
color: var(--black);
}

.header__li + .header__li{
    margin-left: 2.3rem;
}

.header__link{
font-size: 16px;
transition: all .2s ease-out;

}

.header__link:hover{
    color: var(--orange);
}

.welcome{
    background-color: var(--light-green);
}

.welcome__section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.4rem;
}

.welcome__section--left{
    margin-right: 210px;
    margin-top: 3rem;
}

.welcome__section--rignt--header{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: var(--light-grey);
    padding-bottom: 15px;
}

.welcome__section--rignt{
    margin-top: 3.3rem;
  
}

.welcome__section--rignt--word{
    color: var(--green);
}

.welcome__section--rignt--p{
line-height: 35px;
margin-bottom: 49px;
}

.welcome__section--rignt--button{
    padding: 11px 25px;
    border: 2px solid #E06733;
    background-color: #EDF2EC;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-out;
  

}

.welcome__section--rignt--button:hover{
    background-color: var(--orange);
    color: #fff;
}

.about__section{
    display: flex;
    justify-content: space-between;
    padding-top: 93px;
    padding-bottom: 88px;
}

.about__section--left{
    margin-right: 150px;
    padding-top: 36px;
}

.about__section--left--header{
    margin-bottom: 42px;
    font-size: 40px;
    color: var(--green);

}

.about__section--left--word{
    color: var(--orange);
}

.service{
    background-color: var(--light-green);
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.service__section--header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
   
}

.service__section--header--title{
    color: var(--green);
    font-size: 2rem;
    line-height: 50px;
    margin: 0;
}

.service__section--header--nav{
    padding-top: 1.3rem;
    padding-right: 10.5rem;
}

.service__section--header--button{
    padding: 12px 2rem;
    color: var(--orange);
    border: 2px solid #E06733;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-out;
}

.button__lawn{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.service__section--header--button + .service__section--header--button{
    margin-left: 2rem;
}

.service__section--header--button:hover{
background-color: var(--orange);
color: #ffffff;
}

.service__section--section--img{
    max-height: 350px;
    width: 330px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    object-fit: cover;
}

.lawn{
    object-fit: scale-down;

}

.service__section--bottom--row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.service__section--bottom--row + .service__section--bottom--row{
    margin-top: 2.5rem;
}

.service__section--section{
text-align: center;
border: 1px solid #E3E1D5;
border-radius: 1rem;
margin-bottom: 55px;


transition: all .4s ease-in-out;
}

.service__section--section--header{
    font-weight: 700;
    font-size: 1rem;
    color: var(--orange);
    margin:0;
    font-family: 'Inter', serif;
    margin-top: 4px;
}

.service__section--section--p{
    font-size: 16px;
    color: var(--light-grey);
    margin-top: 10px;
    margin-bottom: 30px;
}

.blur{
    filter:blur(2px);

    transition: all .4s ease-in-out;
}


.active__button{
    background-color: var(--orange);
    color: #fff;
    }






.prices__section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--black);
   
}

.prices__section--left--title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin: 2.1rem auto 3rem;
}

.prices__section--left--section{
    display: flex;
    flex-direction: column;
    padding: 34px 1.9rem;
    border: 1px solid var(--light-green);
    border-radius: 20px;
    margin-bottom: 130px;
}

.prices__section--right{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.prices__section--left--accordeon{
width: 250px;
background: var(--light-green);
border-radius: 20px;
padding: 16px 2rem;
transition: all .2s ease-out;
}

.prices__section--left--accordeon + .prices__section--left--accordeon{
    margin-top: 30px;
}

.prices__label{
    font-family:  'Inter', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items:center;  
    max-width: 150px; 
}

.prices__section--left--accordeon:hover{
    background-color: #D6E7D2;
}

.hidden{
overflow: hidden;
max-height: 0;
transition: 0.3s ease-in-out;
}

.prices--outside--p{
    font-size: .5rem;
    line-height: .5rem;
    color: var(--grey);
}

.prises--span{
    color: var(--orange);
    font-weight: 700;
    font-size: 1rem;
}

.prices--outside--button{
    font-family: 'Inter', serif;
    font-weight: 700;
    font-size: 14px;
    color: #717171;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    padding: 3px 1rem;
    transition: all .2s ease-out;
    cursor: pointer;
}

.prices--outside--button:hover{
background-color: var(--orange);
color: #fff;
}

.prices--outside--div{
    border: 0.5px solid #AEA1A1;
    margin: .5rem auto .25rem;
}

.prices--outside--price{
    font-size: 12px;
    margin: .25rem auto .5rem;
}

.prices__label--input{
    display: none;
}

.div{ 
    height: 16px;
    width: 16px;
    background: #d9d9d9 center no-repeat;
    background-image: url("../img/arrow.png");
    background-size: 40%;
   
    border-radius: 50%;
    cursor: pointer; 

    transition: all 0.3s;
}



.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prices__label--input:checked + .div {
    background-color: #AEA1A1;
  }

  
  .prices__section--right--img{
    width: 8rem;
    position: relative;
    left: 300px;
    top: 40px;

  }
 
  .prices__label--input:checked + .prices__section--left--accordeon{
    background-color: #499A18;
  }


  .prices__section--right--title{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 50px;
    font-size: 2rem;
    margin: 2rem auto 2.2rem;
  }

  .prices__section--right--word{
    color: var(--green);
  }

  .prices__section--right--button{
    max-width: 8rem;
    padding: 12px 30px;
    color: var(--orange);
    background: none;
    border: 2px solid #E06733;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 290px;
    transition: all .2s ease-out;
  }

  .prices__section--right--button:hover{
    background-color: var(--orange);
    color: #fff;
    }

    .contacts{
        background-color: var(--light-green);
    }

    .contacts__section{
        display: flex;
        justify-content: space-between;
        padding-top: 2rem;
    }

    .contacts__header{
        font-weight: 700;
        color: var(--green);
        font-size: 2rem;
       margin-top: .5rem;
       margin-left: 2rem;
    }
    
    .contacts--accordeon{
        width: 450px;
        height: 50px;
        margin-top: 4.9rem;
        background-color: #D6E7D2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       
    }

    .contacts__label{
        font-family: 'Inter', sans-serif;
        line-height: 2rem;
        margin-left: 1rem;
    }

    .contact__div{
        margin-right: 1.7rem;
            height: 16px;
            width: 16px;
            background:  #AEA1A1 center no-repeat;
            background-image: url('../img/arrow.png');
            background-size: 40%;
            transform: rotate(-180deg);
           
            border-radius: 50%;
            cursor: pointer; 
        
            transition: all 0.3s;
    }



    .ul__city{
        margin: 0;
        margin-top: 3px;
        padding-left: 20px;
        padding-top: 27px;
        padding-bottom: 30px;
    }

    .city {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0.05em;
        color: #499A18;
        cursor: pointer;
        transition: all .2s ease-out;
    }

    .city:hover{
        color: #717171;
    }

    .city div{
   max-width: 380px;
   border: 1px solid #D9D9D9;
   transition: all .2s ease-out;
    }

    .city:hover div{
    border: 1px solid #717171;
    }

    .contact__block{
        margin-top: .3rem;
    }

    .contacts--accordeon:hover{
        background-color: #C1E698;
    }

    .contact__hidden{
        display: none;
    }

    .contact--outside{
        position: relative;
        z-index: 10;
       
        
        max-width: 450px;
        max-height: 0px;

        background-color: #DCE9D9;
        overflow: hidden;
        transition: 0.3s ease-in-out;
    }

    .contact--adress{
        position:relative;
        z-index: 1;
      
        
        margin-top: 47px;
        background: #EDF2EC;
        border: 1px solid #000000;
        border-radius: 20px;
    }

    .contact--adress__table{
        text-align: left;
        padding-left: 33px;
        padding-top: 20px;
        padding-bottom: 24px;

    }

    tr{
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0.05em;
    }

    th{
        font-family: 'Inter';
        font-style: normal;
        color: #000000;
        padding-right: 10px;
    }

    td{
        font-family: 'Inter';
        font-style: normal;
        color: #717171;
    }
    
    .contact--adress__button{
    padding: 7px 30px;
    border: 1px solid #E06733;
    border-radius: 5px;
    display: block;
    margin: 0 auto 30px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;

    transition: all .2s ease-out;
    
    cursor: pointer;
    }

    .contact--adress__button:hover{
        background-color: var(--orange);
        color: #fff;
    }

    .contact--adress__button:hover a{
        color: #fff;
    }

    .contacts__label--input{
        display: none;
    }

    .contacts__label{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    .footer__inner{
        margin: 2.6rem auto;
        display: flex;
        justify-content: space-between;
       
    }

    .footer__section{
        font-family: 'Inter', sans-serif;
       
    }

    .footer__section__one{
        display: flex;
    }

    .footer__section__ul{
        display: flex;
        justify-content: space-between;
        margin: 0;
    }

    .footer__section__one--p{
        margin: 0;
    } 

    .footer__section__one--p + .footer__section__one--p{
        margin-left: 1rem;
    }

    .footer__section__li + .footer__section__li{
       margin-left: 1rem;
    }

    @media screen and (max-width: 1284px){

        .service__section--header{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-bottom: 2rem;
        }
        
        .service__section--header--title{
            font-size: 35px;
            line-height: 45.61px;
            margin: 0;
        }
        
        .service__section--header--nav{
            padding-top: 40px;
            padding-right: 0px;
        }
        
        .service__section--header--button{
            max-width: 161px;
            padding-top: 12.2px;
            padding-bottom: 12.2px;
            border: 1px solid #E06733;
            border-radius: 5px;
        }

    }

    @media screen and (max-width: 1115px){

        .welcome__section--left{
            margin-right: 40px;
        }

        .welcome__img{
            max-width: 280px;
        }

        .about__section{
            flex-direction: column;
        }

        .contacts__section{
            flex-direction: column-reverse;
        }

        .contacts__header{
            order: 1;
        }

        .prices__section{
            flex-direction: row;
            flex-wrap: nowrap;
        }

        .contacts__section--img{
            width: 200px;
            margin-left: 550px;
        }

        .contacts--accordeon{
            max-width: 450px;
            margin-top: 30px;
        }

        .contact--adress__table{
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .contact--adress__button{
            margin-bottom: 15px;
        }

        .prices__section--left--title{
            font-size: 35px;
            line-height: 42.36px;
            margin: 40px auto 50px;
            margin-left: 12px;
        }
        
        .prices__section--left--section{
            margin-top: 0;
            padding: 34px 41px;
            margin-bottom: 164px;
        }
        
        .prices__section--right{
            display: flex;
            flex-direction: column;
            text-align: right;
        }
        
        .prices__section--left--accordeon{
        width: 250px;
        
        border-radius: 20px;
        padding: 16px 2rem;
        
        }
        
        .prices__section--left--accordeon + .prices__section--left--accordeon{
            margin-top: 32px;
        }
        
        .prices__label{
           line-height: 20px;
           font-size: 20px;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            align-items:center;   
        }
        
        
        
        .prices--outside--button{
            background: #FFFFFF;
            border-radius: 10px;
            border: 0;
            padding: 3px 1rem;
            transition: all .2s ease-out;
        }
        
        
        
        .prices--outside--price{
            font-size: 12px;
            margin: .25rem auto .5rem;
        }
        
        
          
          .prices__section--right--img{
            max-width: 152px;
            position: relative;
            left: 130px;
            top: 45px;
        
          }
        
        
          .prices__section--right--title{
            line-height: 35px;
            font-size: 25px;
            margin: 140px auto 21.6px;
            margin-right: 0px;
          }
        
          .prices__section--right--button{
            max-width: 8rem;
            padding: 12px 30px;
            border: 1px solid #E06733;
            border-radius: 5px;
            position: relative;
            left: 120px;
            top: 6px;
            margin-top: 0;
          }

        
        


    }

    
    @media screen and (max-width: 880px){
        .service__section--header--button{
            max-width: 161px;
            padding-top: 12.2px;
            padding-bottom: 12.2px;
            border: 1px solid #E06733;
            border-radius: 5px;
        }
       
        .contacts__section--img{
            width: 200px;
            margin-left: 450px;
        }
        
        
        .service__section--header--button + .service__section--header--button{
            margin-left: 39px;
        }
        
    }



    @media screen and (max-width: 768px) {
    .container{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 50px;
    }

    .header__inner{  
        padding: 39px 0 34px;
    }

 
    
    .header__nav{
        padding-top: 3px;
    }
  
    .header__li + .header__li{
        margin-left: 46px;
    }

    .welcome__section{
        flex-direction: row-reverse;
        padding-top: 10px;
        padding-bottom: 73px;
    }

    .welcome__section--left{
        margin: 0;
    }

    .welcome__img{
        max-width: 280px;
        margin-top: 18px;
    }

    .welcome__section--rignt{
        margin: 0;
        margin-right: 40px;
    }

    .welcome__section--rignt--header{
        font-size: 35px;
        padding: 0;
    }

    .welcome__section--rignt--p{
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        margin-top: 31px;
        margin-bottom: 35px;
        
    }

    .about__section{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 95px;
    }
    
    .about__section--left{
        margin: 0;
    
    }
    
    .about__section--left--header{
        margin: 0px auto 49px;
        text-align: center;
        font-size: 35px;
        line-height: 45.61px;
    }

    .about__section--left--rignt--p{
        margin-top: 0;
        margin-bottom: 69px;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }

    .about__section--right--img{
        max-width: 250px;
    }
    


    .service{
        padding-top: 60px;
        padding-bottom: 30px;
    }
    
    .service__section--header{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    
    .service__section--header--title{
        font-size: 35px;
        line-height: 45.61px;
        margin: 0;
    }
    
    .service__section--header--nav{
        padding-top: 40px;
        padding-right: 100px;
    }
    
    .service__section--header--button{
        max-width: 161px;
        padding-top: 12.2px;
        padding-bottom: 12.2px;
        border: 1px solid #E06733;
        border-radius: 5px;
    }
   
    
    
    .service__section--header--button + .service__section--header--button{
        margin-left: 39px;
    }
    
    
    .service__section--bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }
    
    .service__section--bottom--row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
       
    }

    
    .service__section--bottom--row + .service__section--bottom--row{
        margin-top: 0;
        margin-left: 0px;
    }
    
    .service__section--section{
    
    max-width: 280px;
    text-align: center;
    border: 1px solid #E3E1D5;
    border-radius: 1rem;
    margin-bottom: 36px;
    }

    .service__section--section--img{
    max-width: 280px;
      max-height: 350px;
    }
    
    .service__section--section--header{
        font-weight: 700;
        font-size: 1rem;
        margin: 7px;
        font-family: 'Inter', serif;
    }
    
    .service__section--section--p{
        margin: 0 38px 20px;
        line-height: 20px;
        font-weight: 400;
    }



.prices__section--left--title{
    font-size: 35px;
    line-height: 42.36px;
    margin: 40px auto 50px;
    margin-left: 12px;
}

.prices__section--left--section{
    margin-top: 0;
    padding: 34px 41px;
    margin-bottom: 164px;
}

.prices__section--right{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.prices__section--left--accordeon{
width: 250px;

border-radius: 20px;
padding: 16px 2rem;

}

.prices__section--left--accordeon + .prices__section--left--accordeon{
    margin-top: 32px;
}

.prices__label{
   line-height: 20px;
   font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items:center;   
}



.prices--outside--button{
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
    padding: 3px 1rem;
    transition: all .2s ease-out;
}



.prices--outside--price{
    font-size: 12px;
    margin: .25rem auto .5rem;
}


  
  .prices__section--right--img{
    max-width: 152px;
    position: relative;
    left: 130px;
    top: 45px;

  }


  .prices__section--right--title{
    line-height: 35px;
    font-size: 25px;
    margin: 140px auto 21.6px;
    margin-right: 0px;
  }

  .prices__section--right--button{
    max-width: 8rem;
    padding: 12px 30px;
    border: 1px solid #E06733;
    border-radius: 5px;
    position: relative;
    left: 120px;
    top: 6px;
    margin-top: 0;
  }


  .contacts__section{
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 2rem;
}

.contacts__section--img{
    max-width: 200px;
    margin-left: 15px;
}

.contacts__header{
    order: 1;
   line-height: 52.12px;
   margin-bottom: 100px;
   margin-top: 0;
   margin-left: 0;
}

.contacts--accordeon{
    max-width: 450px;
    height: 50px;
    margin-top: 0;
    margin-bottom: 250px;
}

.contacts__label{
    line-height: 2rem;
    margin-left: 1rem;
}


.contact__block{
    margin-top: .3rem;
}


.contacts__label{
    align-items: center;
}

.contact--adress__table{
    padding-top: 10px;
    padding-bottom: 16px;
}

.contact--adress__button{
    margin: 0 auto 20px;
}

.footer__inner{
    margin: 29px auto;
    flex-direction: column;
    align-items: center;
}


.footer__section__one{
    margin-bottom: 13px;
}


.footer__section{
    margin-bottom: 25px;
} 

.footer__section__one--p + .footer__section__one--p{
    margin-left: 22px;
}
}

@media screen and (max-width: 759px){
    .service__section--header--button{
        max-width: 121px;
        padding: 6px 31px;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    
    #button__gardens + .button__lawn{
        margin-left: 6px;
    }

    #button__planting{
        margin-left: 6px;
    }
}



@media screen and (max-width: 715px){

    .prices__section{
        flex-direction: column;
        padding-bottom: 42px;
    }
    .prices__section--right--title{
        font-size: 25px;
        line-height: 30px;
        margin: 28px auto 38px;
        margin-left: 3px;
        text-align: center;
        margin-right: 0px;
    }

    .prices__section--left{
        margin: 0 auto;
    }

    .prices__section--left--section{
        margin-bottom: 30px;
    }

    .prices__section--right--button{
        left: 0;
        margin: 0 auto;
    }

    .prices__section--right--img{
        left: 0;
        margin: 0 auto 20px;
    }
}





@media screen and (max-width: 571px){
    .welcome__img{
        max-width: 80px;
    }

    .contacts--accordeon{
        width: 330px;
    }

    .header__list{
    flex-direction: column;
    
    }

    .menu__icon{
        display: block;
        width: 40px;
        height: 24px;
        cursor: pointer;
        position: relative;

        z-index: 5;
    }

    .logo__img{
        z-index: 10;
    }

    .menu__icon span, .menu__icon::after, .menu__icon::before{
        position: absolute;
        left: 0;
        width: 100%;
        height: 10%;
        background-color: #717171;
        content:'';
        cursor: pointer;
    }

    .first--span{
        top:14.4px;
    }

    .second--span{
        top: 7.2px
    }

    .menu__icon::after{
        top:0;
        transition: all .5s ease 0;
    }

    .menu__icon::before{
        bottom: 0;
        transition: all .5s ease 0;
    }

    .menu__icon.active span{
        display: none;
        
    }
    

    .menu__icon.active::before{
        top: 50%;
        transform: rotate(-45deg);
        
    }

    .menu__icon.active::after{
        top: 50%;
        transform: rotate(45deg);
    }

    .header__nav{
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background-color: rgba(237,242,236, 0.9);
        transform: translate(-100%, 0px);
        transition: all .3s ease 0s;
        overflow: auto;
    }

    .active{
        transform: translate(0%, 0px);
    }

    .header__li + .header__li{
        margin-left: 0;
    }

    .header__li{
        padding-left: 30px;
        padding-bottom: 30px;
        font-size: 30px;
        cursor: pointer; 
        transition: all .2s ease-out; 
    }

    .header__list {
        margin-top: 100px;

    }
    
    .header__link:hover{
        color: var(--orange);}
   

}



@media screen and (max-width: 420px){
    .prices__section--left--accordeon{
        width: 170px;
        border-radius: 20px;
        padding: 19px 30px 16px;
        
        }

}

    


@media screen and (max-width: 380px) {
    .container{
        max-width: 380px;
        margin: 0 auto;
        padding: 0 25px;
    }

    .header__inner{  
        padding: 35px 0;
    }

    .welcome__section{
      padding-bottom: 25px;
    }

    .welcome__section--left{
        display: none;
    }


    .welcome__section--rignt{
        margin: 0;
    }

    .welcome__section--rignt--header{
        font-size: 25px;
        line-height: 35px;
        padding: 0;
    }

    .welcome__section--rignt--p{
        margin-top: 20.4px;
        margin-bottom: 27.1px;
    }

    .welcome__section--rignt--button{
        padding: 6px 15px;
        border: 2px solid #E06733;
        font-style: normal;
        border-radius: 10px; 
        font-weight: 400;
        font-size: 10px;
        line-height: 20px;  
    }

    .about__section{
        padding-top: 27px;
        padding-bottom: 22px;
       
    }

    .about__section--left{
        padding: 0;
    }
    
    
    .about__section--left--header{
        margin: 0px auto;
        font-size: 25px;
        line-height: 32.57px;
        padding-left: 5px;
    }

    .about__section--left--rignt--p{
        margin-top: 15px;
        margin-bottom: 2px;
        font-size: 14.99px;
        line-height: 25px;
    }

    .about__section--right--img{
        max-width: 150px;
        padding-left: 5px;
    }
    


    .service{
        padding-top: 32px;
        padding-bottom: 27px;
    }
    
    .service__section--header{
        margin-bottom: 31px;
    }
    
    .service__section--header--title{
        font-size: 25px;
        line-height: 32.57px;
        margin: 0;
    }
    
    .service__section--header--nav{
        padding-top: 40px;
        padding-right: 100px;
        flex-direction: row;
        padding-right: 0;
        
    }
    
    .service__section--header--button{
        max-width: 121px;
        padding: 6px 31px;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    
    #button__planting{
        margin-left: 0;
    }

    .button__lawn{
        padding: 6px 40px;
    }
    
    
    #button__gardens + .button__lawn{
        margin-left: 6px;
    }
    
    .service__section--bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     
       
    }
    
    .service__section--bottom--row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0;
    }

    
    
    .service__section--section{
    max-height: 450px;
    max-width: 279px;
    text-align: center;
    margin-bottom: 0px;
    }

    .service__section--section + .service__section--section {
        margin-top: 34px;
        
    }
        

    .service__section--section--img{
        max-height: 350px;
        max-width: 280px;
        object-fit:cover;
    }
    
    .service__section--section--header{
    
        line-height: 20px;
        margin-top:6px;
        margin-bottom: 12px;
    }
    
    .service__section--section--p{
       text-align: center;
      
    }

    /* prices */
    
   .prices__section{
    flex-direction: column;
    padding-bottom: 42px;
   }

    .prices__section--left--title{
        font-size: 25px;
        line-height: 30px;
        margin: 28px auto 38px;
        margin-left: 3px;
        text-align: center;
        margin-right: 0px;
    }
    
    .prices__section--left--section{
        width: 224px;
        margin: 0 auto 26px;
        padding: 23px 29px;
        text-align: center;
    }
    
    .prices__section--right{
        flex-direction: column;
        text-align: center;
    }
    
    .prices__section--left--accordeon{
    width: 170px;
    border-radius: 20px;
    padding: 19px 25px 16px;
    
    }
    
    .prices__section--left--accordeon + .prices__section--left--accordeon{
        margin-top: 9px;
    }
    
    .prices__label{
       font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items:center;   

       
    }
    
    
    
    .prices--outside--button{
        background: #FFFFFF;
        border-radius: 10px;
        border: 0;
        padding: 3px 1rem;
    }
    
    
    
    .prices--outside--price{
        font-size: 12px;
        margin: .25rem auto .5rem;
    }
    
    
      
      .prices__section--right--img{
      display: none;
      }
    
    
      .prices__section--right--title{
        font-size: 20px;
        margin: 0 auto;
        margin-right: 0;
        margin-left: 0;
      }
    
      .prices__section--right--button{
        width: 121px;
        font-size: 15px;
        padding: 8px 22px;
        left: 0px;
        margin-top: 20px;
      }

      /*contact us */

    
    .contacts__section{
        padding-top: 1rem;
    }

    .contacts__header{
       font-size: 25px;
       margin-top: 0rem;
       margin-bottom: 0px;
       margin-left: 0rem;
    }
    
    .contacts--accordeon{
        width: 300px;
        height: 50px;
        margin-top: 4.9rem;
        margin: 70px auto 132px;
    }

    .contacts__label{
        font-family: 'Inter', sans-serif;
        line-height: 2rem;
        margin-left: 1.1rem;
    
    }

    .contacts__section--img{
        max-width: 100px;
        margin-left: 0;
    }

      .contact__div{
      position: absolute;
      right: 28px;
      }

.contact--adress__table{
    text-align: left;
    padding-left: 33px;
    padding-top: 20px;
    padding-bottom: 20px;

}

tr{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    
}

th{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
   
}

td{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 10px;
}

.contact--adress__button{

font-size: 10px;
margin: 0 auto 20px;
}


    /* footer */

    .footer__inner{
    margin: 20px auto;
    }

    .footer__section{
        margin-bottom: 10px;
    }


    

    @media screen and (max-width: 335px){
        .contacts--accordeon{
            width: 200px;
        }
    }
}
      


